/*------------------------------------------------------------   
                        MY HEADER  
-----------------------------------------------------------*/
.header
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f08a5d;
    box-shadow: inset 0 -15px 0 #f18151;
}
.header .header_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    color: #AD6344;
    text-shadow: 0 15px 20px #724c3b;
    -webkit-text-stroke: 4px #faf6f4;

}
/*------------------------------------------------------------   
                        MY BODY 
-----------------------------------------------------------*/
section.body
{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: #eeecda;
}
section div.qr-transform{
    text-align: center;
    display: flex;
    flex-direction: column;
}
section div.qr-transform label.qr-transform_title,input.qr-transform_input,button.qr-transform_btn{
    display: block;
    outline: none;
}

label.qr-transform_title{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: #126156;
    font-weight: bolder;
    text-shadow: 0 1px 2px #3e6f97;

}
input.qr-transform_input{
    margin: 15px 10px;
    border: 5px solid #d8d7ce;
    border-radius: 10px;
    padding: 15px;
}
button.qr-transform_btn{
    margin-top: 15px;
    padding: 7px;
    border: 5px solid #0b443d;
    border-radius: 5px;
    cursor: pointer;
    background-color: #126156;
    /*FONTS*/
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 25px;
    
}
button.qr-transform_btn:hover{
    border: 5px solid #096358;
    opacity: 0.5;
}
/*------------------------------------------------------------   
                        QR GALLERY
-----------------------------------------------------------*/
section.qr-gallery
{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    padding-top: 15px;
}
/*------------------------------------------------------------   
                        EACH QR CODE
-----------------------------------------------------------*/
section.qr-gallery div.qr-code{
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    padding: 8px;
    margin-bottom: 15px;
    width: 256px;

    border: 8px solid #163632;
    border-radius: 10px;

}
section.qr-gallery div.qr-code button.qr-code_details-btn
{
    margin-top: 5px;
    padding: 6px;
    width: 100%;
    background-color: #44AD9F;
    border-radius: 6px;
    border: 4.1px solid #126156;
    outline: none;
    cursor: pointer;
    /*FONT*/
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 17px;
    color: #ffffff;
}
section.qr-gallery div.qr-code button.qr-code_details-btn:hover{
    background-color: #1f5a51;
    border: 4.1px solid #0b3631;
}